#elements {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 30px;
  flex-direction: row;


  align-content: flex-start;

  max-height: 50vh;
  /* overflow-x: scroll; */
  /* margin: auto;
  width: 50%;
  border: 5px solid #FFFF00;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: inherit; */
}

/* body {
  display:flex;
   flex:1;
} */

.element {
  position: relative;
  width: 30px;
  height: 100px;
  margin: 0px;
  display: inline-block;
}

.element:hover {
  cursor: crosshair;
}

.clr-field {
  margin: 10px 1px 5px 1px;

  display:flex;
  justify-content:center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Color Picker */
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}




/* Dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}