#elements {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 30px;
}

.element {
  position: relative;
  width: 30px;
  height: 100px;
  margin: 0px;
  display: inline-block;
}

.element:hover {
  cursor: crosshair;
}

.clr-field {
  margin: 10px 1px 1px 1px;
}

/* Color Picker */
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}




